In [1]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
review_file = "winemag-data-130k-v2.csv"
review_df = pd.read_csv(review_file)
review_df.head()

,Unnamed: 0,country,points,price,province,region_1,region_2,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,White Blend,Nicosia
1,1,Portugal,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Sweet Cheeks

In [3]:
# cut down dataset to ~10k rows
short_df = review_df[:-120000]
json_df = short_df.to_json(orient ='records')
json_df
short_df.count()

Unnamed: 0    9971
country       9966
points        9971
price         9289
province      9966
region_1      8285
region_2      3891
variety       9971
winery        9971
dtype: int64

In [4]:
short_df = short_df.dropna(subset=['price'])
short_df.head()

,Unnamed: 0,country,points,price,province,region_1,region_2,variety,winery
1,1,Portugal,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Sweet Cheeks
5,5,Spain,87,15.0,Northern Spain,Navarra,NaN,Tempranillo-Merlot,Tandem

In [5]:
short_df.columns

Index(['Unnamed: 0', 'country', 'points', 'price', 'province', 'region_1',
       'region_2', 'variety', 'winery'],
      dtype='object')

In [6]:
short_df = short_df.drop('Unnamed: 0', axis=1)
short_df.head()

,country,points,price,province,region_1,region_2,variety,winery
1,Portugal,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos
2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Rainstorm
3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,Riesling,St. Julian
4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Sweet Cheeks
5,Spain,87,15.0,Northern Spain,Navarra,NaN,Tempranillo-Merlot,Tandem

In [7]:
short_df.count()

country     9285
points      9289
price       9289
province    9285
region_1    7732
region_2    3883
variety     9289
winery      9289
dtype: int64

In [8]:
short_df.to_html("wine_output.html", index=False)

In [9]:
conn = sqlite3.connect("wine_review.sqlite")
short_df.to_sql("table", conn)
conn.commit()

ValueError: Table 'table' already exists.

In [ ]:
engine = create_engine("sqlite:///wine_review.sqlite")

In [10]:
data = engine.execute("SELECT * FROM review LIMIT 5")

NameError: name 'engine' is not defined

In [11]:
for record in data:
    print(record)

NameError: name 'data' is not defined