In [9]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine

In [10]:
review_file = "winemag-data-130k-v2.csv"
review_df = pd.read_csv(review_file)
review_df.head()

,Unnamed: 0,country,points,price,province,region_1,region_2,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,White Blend,Nicosia
1,1,Portugal,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Sweet Cheeks

In [11]:
# cut down dataset to ~10k rows
short_df = review_df[:-120000]
short_df.count()

Unnamed: 0    9971
country       9966
points        9971
price         9289
province      9966
region_1      8285
region_2      3891
variety       9971
winery        9971
dtype: int64

In [12]:
conn = sqlite3.connect("wine_review.sqlite")
short_df.to_sql("table", conn)
conn.commit()

/Users/engysamaan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

ValueError: Table 'table' already exists.

In [13]:
engine = create_engine("sqlite:///wine_review.sqlite")

In [19]:
data = engine.execute("SELECT * FROM review LIMIT 5")

In [20]:
for record in data:
    print(record)

(0, 0, 'Italy', 87, None, 'Sicily & Sardinia', 'Etna', None, 'White Blend', 'Nicosia')
(1, 1, 'Portugal', 87, 15.0, 'Douro', None, None, 'Portuguese Red', 'Quinta dos Avidagos')
(2, 2, 'US', 87, 14.0, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Pinot Gris', 'Rainstorm')
(3, 3, 'US', 87, 13.0, 'Michigan', 'Lake Michigan Shore', None, 'Riesling', 'St. Julian')
(4, 4, 'US', 87, 65.0, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Pinot Noir', 'Sweet Cheeks')