In [1]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine

In [8]:
review_file = "winemag-data-130k-v2.csv"
review_df = pd.read_csv(review_file)
review_df.head()

,Unnamed: 0,country,points,price,province,region_1,region_2,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,White Blend,Nicosia
1,1,Portugal,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Sweet Cheeks

In [14]:
# cut down dataset to ~10k rows
short_df = review_df[:-120000]
short_df.count()

Unnamed: 0    9971
country       9966
points        9971
price         9289
province      9966
region_1      8285
region_2      3891
variety       9971
winery        9971
dtype: int64

In [23]:
conn = sqlite3.connect("wine_review.sqlite")
short_df.to_sql("table", conn)
conn.commit()

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [24]:
engine = create_engine("sqlite:///wine_review.sqlite")

In [25]:
data = engine.execute("SELECT * FROM table LIMIT 5")

OperationalError: (sqlite3.OperationalError) near "table": syntax error [SQL: 'SELECT * FROM table LIMIT 5'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [7]:
for record in data:
    print(record)

NameError: name 'data' is not defined